<app-header></app-header>
<app-footer></app-footer>  
<div class="container">
  <br />
  <div class="card">

    <div class="card-header">
     
      <div class="row"> 
        <div class="col-2 p-2" >
          Links de interés
        </div>
        <div class="col-2">
        <a href="https://cibernarium.barcelonactiva.cat/qui-som-" class="btn btn-secondary">Cibernarium</a>
        </div>
       <div class="col-2">
        <a href="https://itacademy.barcelonactiva.cat/" class="btn btn-info">IT Academy</a>
       </div>
       <div class="col-2">
        <a href="https://angular.io/" class="btn btn-warning">Angular</a>
       </div>
       <div class="col-2">
        <a href="https://www.w3schools.com/" class="btn btn-primary">w3schols</a>
       </div>
       <div class="col-2">
        <a href="https://www.google.es/maps/" class="btn btn-info">Google Maps</a>
       </div>
      </div>
    </div>
    
    <div class="card-body">
     <div  class="container">
      <router-outlet>  </router-outlet>
     </div>
     
  </div>

</div>

 
