
<div class="container">
  <h2>Dynamically Update QR Code Values</h2>

  <div><strong>QR Code:</strong> {{ qrCodeVal }}</div>
  <div><strong>Level:</strong> {{ level }}</div>
  <div><strong>Width:</strong> {{ width }}</div>
  <div><strong>Background:</strong> {{ background }}</div>
  <div><strong>Foreground:</strong> {{ foreground }}</div>

  <br />

  <div>
    <qr-code [value]="qrCodeVal" [size]="width" [level]="level" [background]="background" 
    [foreground]="foreground"></qr-code>
  </div>
  <br />
  <h4>Change QR Code Info</h4>
  <label>
    <strong>Name string: </strong> <input [(ngModel)]="qrCodeVal" placeholder="name" />
  </label>
  <br />
  <br />
  <div class="container-flex">
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Update Code 
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" (click)="updateQrInfo('Ramon Carles')">Ramon Carles</li>
          <li class="dropdown-item" (click)="updateQrInfo('Albert Corral')">Albert Corral</li>
          <li class="dropdown-item" (click)="updateQrInfo('Janko Juric')">Janko Juric</li>
          <li><hr class="dropdown-divider"></li>
          <li class="dropdown-item" (click)="updateQrInfo('MASTERCLASS')">MASTERCLASS</li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Update Width
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" (click)="updateWidth(500)">500</li>
          <li class="dropdown-item" (click)="updateWidth(400)">400</li>
          <li class="dropdown-item" (click)="updateWidth(300)">300</li>
          <li class="dropdown-item" (click)="updateWidth(200)">200</li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Update Level
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" (click)="updateLevel('L')">L</li>
          <li class="dropdown-item" (click)="updateLevel('M')">M</li>
          <li class="dropdown-item" (click)="updateLevel('Q')">Q</li>
          <li class="dropdown-item" (click)="updateLevel('H')">H</li>
        </ul>
      </div>
  </div>
  <br />
  <div class="container-flex">
  <strong>Update Background</strong>: 
  <button id="uno" class="btn btn-outline-dark" (click)="updateBackground('white')">White</button>
  <button id="dos" class="btn btn-outline-warning" (click)="updateBackground('yellow')">Yellow</button>
  <button class="btn btn-outline-success" (click)="updateBackground('lime')">Lime</button>
  <button class="btn btn-outline-info" (click)="updateBackground('aqua')">Aqua</button>
  </div>
  <br />
  <div class="container-flex">
  <strong>Update Foreground</strong>: 
  <button class="btn btn-primary" (click)="updateForeground('blue')">Blue</button>
  <button class="btn btn-dark" (click)="updateForeground('black')">Black</button>
  <button class="btn btn-danger" (click)="updateForeground('purple')">Purple</button>
  <button class="btn btn-success" (click)="updateForeground('fuchsia')">Fuchsia</button>
  </div>
</div>