<div class="container">
    <div class="row">
        <div col="8">
           <img src=" https://bing.ioliu.cn/v1/rand?w=720&h=400"  class="img-fluid" alt="Bienvenido a GeoRadar"/>
        </div>
        <div col="4">
          <img
            width="40"
            alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
          />
            <strong>Geo</strong>Radar <small><mark>1.0</mark></small>
            <p class="lead" >Bienvenidos a la aplicación GeoRadar<br />
                             Es una aplicación de código abierto, <br />
                             de uso gratuito y subida a github.<br /><br/>
                             La idea de la aplicación es poder <br />
                             saber en cualquier momento donde <br />
                             se encuentran los miembros de esta <br />
                             aplicación y poder convocar even-<br />
                             tos y quedadas. </p><br /><br /><br /><br />
            <p><img width="40" src="./assets/1.png" alt="Albert Corral">   
            Agradecer al mentor de IT Academy<br /> el Sr. Albert Corral por sus MASTERCLASS</p>            
        </div>
    </div>
</div> 